#task

* apply random foest model to https://raw.githubusercontent.com/nagamounika5/Datasets/master/Glass_Classification.csv dataset

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/nagamounika5/Datasets/master/Glass_Classification.csv")
df.head()

        RI     Na    Mg    Al     Si     K    Ca   Ba   Fe  Type
0  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0     1
1  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0     1
2  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0     1
3  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0     1
4  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0     1

In [3]:
df.shape

(214, 10)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 214 entries, 0 to 213
Data columns (total 10 columns):
RI      214 non-null float64
Na      214 non-null float64
Mg      214 non-null float64
Al      214 non-null float64
Si      214 non-null float64
K       214 non-null float64
Ca      214 non-null float64
Ba      214 non-null float64
Fe      214 non-null float64
Type    214 non-null int64
dtypes: float64(9), int64(1)
memory usage: 16.8 KB

In [5]:
df.describe()

,RI,Na,Mg,Al,Si,K,Ca,Ba,Fe,Type
count,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000
mean,1.518365,13.407850,2.684533,1.444907,72.650935,0.497056,8.956963,0.175047,0.057009,2.780374
std,0.003037,0.816604,1.442408,0.499270,0.774546,0.652192,1.423153,0.497219,0.097439,2.103739
min,1.511150,10.730000,0.000000,0.290000,69.810000,0.000000,5.430000,0.000000,0.000000,1.000000
25%,1.516523,12.907500,2.115000,1.190000,72.280000,0.122500,8.240000,0.000000,0.000000,1.000000
50%,1.517680,13.300000,3.480000,1.360000,72.790000,0.555000,8.600000,0.000000,0.000000,2.000000
75%,1.519157,13.825000,3.600000,1.630000,73.087500,0.610000,9.172500,0.000000,0.100000,3.000000
max,1.533930,17.380000,4.490000,3.500000,75.410000,6.210000,16.190000,3.150000,0.510000,7.000000

In [6]:
df.isnull().sum()

RI      0
Na      0
Mg      0
Al      0
Si      0
K       0
Ca      0
Ba      0
Fe      0
Type    0
dtype: int64

In [7]:
X = df.drop("Type",axis = 1)   # inpurt variable 
Y = df['Type']    #target variable

In [8]:

X.head()

        RI     Na    Mg    Al     Si     K    Ca   Ba   Fe
0  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0
1  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0
2  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0
3  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0
4  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0

In [9]:
Y[:5]

0    1
1    1
2    1
3    1
4    1
Name: Type, dtype: int64

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.30,random_state=45)

In [11]:
X_train

          RI     Na    Mg    Al     Si     K     Ca    Ba    Fe
165  1.52171  11.56  1.88  1.56  72.86  0.47  11.41  0.00  0.00
132  1.51813  13.43  3.98  1.18  72.49  0.58   8.15  0.00  0.00
72   1.51593  13.09  3.59  1.52  73.10  0.67   7.83  0.00  0.00
58   1.51754  13.48  3.74  1.17  72.99  0.59   8.03  0.00  0.00
29   1.51784  13.08  3.49  1.28  72.86  0.60   8.49  0.00  0.00
..       ...    ...   ...   ...    ...   ...    ...   ...   ...
32   1.51775  12.85  3.48  1.23  72.97  0.61   8.56  0.09  0.22
124  1.52177  13.20  3.68  1.15  72.75  0.54   8.52  0.00  0.00
131  1.52614  13.70  0.00  1.36  71.24  0.19  13.44  0.00  0.10
158  1.51776  13.53  3.41  1.52  72.04  0.58   8.79  0.00  0.00
203  1.51658  14.80  0.00  1.99  73.11  0.00   8.28  1.71  0.00

[149 rows x 9 columns]

In [12]:
X_train.shape,X_test.shape

((149, 9), (65, 9))

In [13]:
# APPLYING RANDOM FOREST MODEL
from sklearn.ensemble import RandomForestClassifier

In [14]:
rfc = RandomForestClassifier()
rfc

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators='warn',
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [15]:
rfc.fit(X_train, Y_train)

C:\Users\prathyusha\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [16]:
Y_prediction = rfc.predict(X_test)
Y_prediction

array([2, 1, 2, 2, 7, 2, 1, 1, 7, 2, 7, 1, 2, 2, 1, 2, 1, 6, 3, 1, 2, 1,
       7, 2, 1, 6, 1, 7, 2, 2, 1, 7, 1, 1, 2, 5, 7, 1, 2, 2, 2, 1, 2, 7,
       1, 1, 1, 1, 7, 2, 1, 2, 3, 1, 7, 2, 5, 7, 1, 2, 1, 1, 2, 7, 1],
      dtype=int64)

In [17]:
X_test.head(3)

         RI     Na    Mg    Al     Si     K    Ca   Ba    Fe
83  1.51594  13.09  3.52  1.55  72.87  0.68  8.05  0.0  0.09
62  1.52172  13.51  3.86  0.88  71.79  0.23  9.54  0.0  0.11
84  1.51409  14.25  3.09  2.08  72.28  1.10  7.08  0.0  0.00

In [18]:
Y[:3]

0    1
1    1
2    1
Name: Type, dtype: int64

In [19]:
rfc.predict([[1.51594,13.09,3.52,1.55,72.87,0.68,8.05,0.0,0.09]])

array([2], dtype=int64)

In [20]:
from sklearn.metrics import confusion_matrix
confusion_matrix(Y_prediction, Y_test)

array([[17,  6,  2,  0,  0,  0],
       [ 2, 19,  0,  0,  0,  1],
       [ 1,  0,  1,  0,  0,  0],
       [ 0,  0,  0,  1,  1,  0],
       [ 0,  1,  0,  0,  1,  0],
       [ 0,  0,  0,  0,  0, 12]], dtype=int64)

In [21]:
from sklearn.metrics import accuracy_score
accuracy_score(Y_prediction, Y_test)

0.7846153846153846